.file-upload-list{
  margin-top: 10px;
  margin-bottom: 13px
}
.file-upload-list ul{
  padding: 0px;
  margin-bottom: 0px;
  list-style-type: none;
}
.file-upload-list ul li.file-upload-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11px 15px 11px 12px;
    background-color: #e7e8ed;
    border-radius: 10px;
    color: #121C4D;
    font-size: 12px;
    font-weight: bold;
}
.file-upload-list ul li.file-upload-item .file-info .delete-item img{
  height: 13px
}
.file-upload-list ul li.file-upload-item .file-info .file-size{
  margin-right: 18px
}
.file-upload-list ul li.file-upload-item .file-info{
  opacity: .5
}
.file-upload-list ul li.file-upload-item .file-info:hover{
  opacity: 1
}
.file-upload-controls{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.file-upload-controls .upload-btn button {
    padding: 0px;
    line-height: normal;
    height: auto;
    font-size: 16px;
    font-weight: bold;
    color: #111c4d;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.file-upload-controls .upload-btn button img{
  height: 24px;
  margin-left: 15px
}
.file-upload-controls .records .dropdown-menu {
    min-width: 440px;
    left: 50% !important;
    margin-left: -220px;
        margin-bottom: 20px;
        padding: 0px;
    border: 1px solid #121c4c;
    border-radius: 6px;
}
.file-upload-controls .records .dropdown-menu::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 15px;
    background-image: url(./../images/dropdown-triangle.png);
    background-repeat: no-repeat;
    left: 50%;
    margin-left: -10px;
    bottom: -15px;
    transform: rotate(180deg);
}
.record-drop-header h4 {
    text-align: center;
    font-size: 16px;
    border-bottom: 2px solid #111c4d;
    line-height: inherit;
    padding: 24px;
}
.checkbox-list {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    padding-bottom: 20px;
}
.checkbox-list li {
    padding: 4px 25px;
}
.checkbox-list li label input[type="checkbox"] {
    display: none;
}
.checkbox-list li label input[type="checkbox"] + span {
    position: relative;
    padding-left: 44px;
    font-weight: 600;
    color: #9ea2b6;
    font-size: 14px;
}
.checkbox-list li label input[type="checkbox"] + span::after {
    content: "";
    position: absolute;
    height: 24px;
    width: 24px;
    border: 2px solid #121C4D;
    left: 0px;
    top: -3px;
    border-radius: 6px;
}
.checkbox-list li label input[type="checkbox"]:checked + span::after {
    background-image: url(./../images/checkbox-check.png);
    background-repeat: no-repeat;
    background-position: center;
}
.record-btn{
  background-color: transparent;
  border: 0px;
  padding: 0px;
    line-height: normal;
    height: auto;
    font-size: 16px;
    font-weight: bold;
    color: #111c4d;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    outline: none
}
.record-btn img{
margin-left: 15px;
}
