.video-container {
    position: relative;
    min-height: 408px;

    width: 50%;
}
.play-btn{
  background-color: #DEE3EC;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.get-started, .account-info{
  width: 25%
}
.row-padder{
  padding-right: 15px;
    padding-left: 15px;
}
.list-view {
    padding: 0px;
    list-style-type: none;
    margin-bottom: 0px;
    flex: 1
}
.list-view li {
    display: flex;
    align-items: center;
    font-size: 14px;

    margin-bottom: 20px
}
.list-view li .list-item {
    flex: 1;
    display: flex;
    align-items: center;
}
.list-view li .list-item span{
  color: #121C4D;
  margin-left: 15px
}
.list-view li .right-icon{

}
.list-view li.done .list-item span {
    color: #8a8ea7;
}
.boxed-list-view li {
    margin-bottom: 15px;
}
.right-btn .btn {
    padding: 0px 15.5px;
    min-width: auto;
}
.location a{
  margin-right: 29px
}
.activity-text h4 {
    font-size: 16px;
    font-weight: bold;
    color: #121C4D;
    line-height: 19px;
    margin-bottom: 10px;
}
.activity-text span{
font-size: 16px;
font-weight: bold;
color: rgba(18,28,77,0.5);
}
.activity-icon{
  margin-right: 50px;
  position: relative;
}
.activity-icon::after {
    content: "";
    position: absolute;
    height: 29px;
    width: 29px;
    border-radius: 50%;
    top: -10px;
    left: -5px;
    opacity: .5;
}
.activity-icon.blue-cricle::after{
    background: linear-gradient(180deg, #6894D9 0%, #AFD9E5 100%);
}
.activity-icon.gray-cricle::after{
    background: linear-gradient(180deg,#DEE3EC 0%, #D8D8D8 100%);
}
.activity-icon.green-cricle::after{
    background: linear-gradient(180deg,#68DDE6 0%, #D8D8D8 100%);
}
.projects-text h4 {
    font-size: 18px;
    font-weight: bold;
    color: #121C4D;
    margin-bottom: 0px;
    margin: 16px 0px;
}
.property-address-link{
  width: 212px;
  background-color: #121C4D;
  margin-left: 32px
}
.property-address-link .btn {
    color: white;
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    height: 100%;
    padding: 0px 25px;
}
.property-address-link .btn span {
    opacity: 0.75;
    font-size: 12px;
    line-height: 14px;
    display: block;
    margin-bottom: 2px
}
.property-address-link .dropdown-menu {
    border: 1px solid #FFFFFF;
    border-radius: 0 0 5px 5px;
    background-color: #121C4D;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);
    width: 100%;
    padding: 0px;
    margin-top: 0px;
}
.property-address-link .dropdown-menu .dropdown-item,
.property-address-link .dropdown-menu .dropdown-item:hover {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
    padding: 0px 0px;
    line-height: 48px;
    border-bottom: 1px solid white;
    background-color: #121C4D;
}

.property-address-link .dropdown-menu .dropdown-item:last-child{
  border-bottom: 0px
}
.icon-container {
    display: inline-block;
    margin-right: 10px;
    position: relative;
    margin-left: 28px;
}
.icon-container::after {
    content: "";
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 50%;
    top: 0px;
    z-index: -1;
    left: -15px;
}
.icon-container.welcome-icon::after {
    background: linear-gradient(180deg, #FE7DB5 0%, #FFCA4C 100%);

}
.icon-container.r-activity::after {
    background: linear-gradient(134.72deg, #402CFF 0%, #FFFFFF 100%);

}
.icon-container.r-project::after {
    background: linear-gradient(180deg, #AFC8F0 0%, #9CDCCF 100%);
    left: -7px;
}
.dashboard-footer-bg {
    background-image: url(../images/footer_img.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 128px;
}
@media (max-width:1280px) {
  .video-container{
    width: 100%
  }
  .get-started, .account-info {
    width: 50%;
}
}
@media (max-width:768px){
  .get-started, .account-info {
    width: 100%;
}
}
