.modal-dialog {
    margin-top: 100px;
    max-width: 900px;
}
.modal-header {
    border-bottom: 0px;
    padding: 1rem 25px;
}
.modal-header h5{
  color: #121C4D;
  font-size: 32px;
  font-weight: bold;
  line-height: 37px;
}
.modal-backdrop {

    background-color: #0f0f44;
}
.modal-backdrop.show {
    opacity: .82;
}
.modal-footer{
  background-color: #dee3ec;
  display: flex;
  justify-content: space-between;
}
.modal-body-inner {
    min-height: 345px;
}
.no-footer.modal-body-inner{
  min-height: calc( 345px + 80px)
}
.modal-body {
    padding: 3rem 2rem;
}
.modal-body .close {
    position: absolute;
    right: 15px;
    top: 10px;
    outline: none;
}
.modal-body-inner .modal-icon{
  margin-bottom: 22px
}
.modal-body-inner h4{
font-size: 32px;
font-weight: bold;
line-height: 37px;
margin-bottom: 25px;
color: #121C4D;
}
.modal-body-inner .modal-icon{
  margin-bottom: 25px;
}
.modal-body-inner h4{
font-size: 32px;
font-weight: bold;
line-height: 37px;
margin-bottom: 25px;
color: #121C4D;
}
.modal-body-inner p{
  color: #121C4D;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 0px
}
.modal-body-inner{
  max-width: 675px;
  margin: 0 auto;
}

.sub-header{
  background-color: #DEE3EC;
    padding: 35px 25px;
}
.btn-dropdown {
    border: 2px solid rgba(18,28,77,0.5);
    color: #888da5;
}
/*##############----create project modal-----#################*/
.search-project-content {
    min-height: 345px;
}
.btn-container .btn{
  margin-right: 25px
}
.search-property-input{
  max-width: 558px;
  margin: 0 auto;
}
.search-property-input .form-control {
    border: 2px solid rgba(18,28,77,0.5);
    box-shadow: 0 5px 5px 0 rgba(18,28,77,0.1);
    border-radius: 10px;
    color: #121C4D;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    font-weight: bold;
}
.search-property-input .form-control::placeholder{
  opacity: .5;
  color: #121C4D;
}
.search-property-input select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    line-height: initial !important;
    background-image: url(./../images/select-arrow.png);
    background-repeat: no-repeat;
    background-position: center right 12px;
}
.btn-back {
    min-width: auto;
    padding: 0px 10px;
    color: rgba(18,28,77,0.5);
    font-size: 18px;
    line-height: 21px;
}
.modal-body-inner .form-group{
  margin-bottom: 20px
}
