.filter-bg .box-header h4 {
    color: white;
    font-weight: 600;
    font-size: 20px
}
.list-view.filter-list .btn{
  font-size: 16px;
  padding: 0px 25px
}
.list-view li {
  margin-bottom: 15px
}
.list-view li:last-child{
  margin-bottom: 0px
}
.filter-bg {
    background: linear-gradient(180deg, #6894D9 0%, #7297db 100%);
    min-height: auto;
    margin-bottom: 50px;
    height: auto;
    border-radius: 10px
}
.list-view {
    padding: 0px;
    list-style-type: none;
    margin-bottom: 0px;
}
.separator {
    height: 5px;
    border-radius: 67px;
    background-color: #FFFFFF;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
}
.project-user-list {
    list-style-type: none;
    padding: 0px;
    margin-bottom: 0px;
}
.project-user-list li{
  margin-bottom: 25px
}
.user-thumb{
  position: relative;
  margin-right: 15px
}
.user-meta h4 {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 0px;
}
.user-meta .status {
    color: rgba(255,255,255,0.75);
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
}
.add-user span {
    font-size: 20px;
    font-weight: 600;
    margin-left: 16px;
}
.project-header h2 {
    color: #101B50;
    font-size: 24px;
    font-weight: bold;
    line-height: 50px;
    margin-bottom: 0px;
}
.project-header .btn{
      border: 1.4px solid #C1C5CC;
      border-radius: 10px;
      color: #C1C5CC;
      font-size: 14px;
      font-weight: bold;
      line-height: 26px;
      text-align: center;
      height: auto;
      min-width: auto;
}
.card-bg {
  border: 0px;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
  margin-bottom: 25px;
  border-radius: 10px
}
.group-header{
  margin-bottom: 25px
}
.group-header h5 {
    color: rgba(16,27,80,0.5);
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;
    margin-bottom: 0px;
}
.group-controls-list .btn {
    padding: 0px;
    min-width: auto;
    height: auto;
    color: #121C4D;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    margin-left: 25px
}
.group-items-header h4 {
    color: #121C4D;
    font-size: 22px;
    font-weight: bold;
    line-height: 50px;
    margin-bottom: 10px;
}
.group-items-content{
  padding: 10px 0px
}
.group-items-content ul {
    padding: 0px;
    margin-bottom: 0px;
}
.group-items-content ul li label input[type="checkbox"] {
    display: none;
}

.group-items-content ul li h4{
  color: #121C4D;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  margin-bottom: 0px;

}
.group-items-content ul li label h4{
  position: relative;
  padding-left: 44px;
}
.group-items-content ul li label input[type="checkbox"] + h4::after {
    content: "";
    position: absolute;
    height: 24px;
    width: 24px;
    border: 2px solid #121C4D;
    left: 0px;
    top: -1px;
    border-radius: 6px;
}
.group-items-content ul li label input[type="checkbox"]:checked + h4::after {
    background-image: url(./../images/checkbox-check.png);
    background-repeat: no-repeat;
    background-position: center;
}
.group-items-content ul li .btn {
    min-width: 100px;
}
.group-items .card-body{
  padding: 25px
}
.group-items{
  margin-bottom: 25px
}
.group-items:last-child{
  margin-bottom: 0px
}
.group-items-content ul li{
  border-bottom: 2px solid #DEE3EC;
  padding:8px 0px;
}
.group-items-content ul li:last-child{
  border-bottom: 0px;
  padding-bottom: 0px
}
.delete-slected .btn {
    color: #121C4D;
    font-size: 14px;
    min-width: auto;
    height: auto;
    padding: 0px;
    font-weight: 500;
}
.project-header{
  margin-bottom: 25px
}
.thumb-badge {
    position: absolute;
    right: -6px;
    top: -6px;
    background: linear-gradient(180deg, #6894d97d 0%, #afd9e58a 100%);
    height: 29px;
    width: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.project-header .thumb-badge{
  height: 21px;
  width: 21px;
}
.group-items-header .btn{
  min-width: 275px
}
.add-projects-properties .btn {
    color: #121C4D;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    border: 3px dotted #121C4D;
}
.duplicate-items-list ul li span{
  font-size: 16px !important
}
.manage-user-modal .modal-body-inner h4{
  line-height: 50px
}
.code-library-collection-tabs {
    max-width: 510px;
    margin: 0 auto;
}
.code-library-collection-tabs .collection-tab{
  border: 1px solid #121C4D;
  min-height: 265px;
  border-radius: 10px;
  padding: 30px 20px
}
.code-library-collection-tabs .collection-tab h4{
  color: #3E3E3C;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
}
.code-library-collection-tabs .collection-tab span{
  color: #3E3E3C;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
.upload-container{
  border: 1px dashed #253746;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content:center;
  font-size: 18px;
}
.upload-item-header-text h5{
font-size: 24px;
}
.upload-item-header-header .close {
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 0px;
    height: 30px;
    width: 30px;
    padding: 0px;
}
ul.file-upload-list{
  list-style-type: none;
}
ul.file-upload-list li{
  border: 1px solid rgba(37,55,70,0.5);
  border-radius: 6px;

  padding: 15px 25px
}
ul.file-upload-list li:hover{
  box-shadow: 0 0 0 1px rgba(37,55,70,0.25);
}
.delete-file .btn{
  min-width: auto
}
.file-info h4{
  color: #253746;
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
}
.file-info span{
  color: #253746;
  font-size: 16px;
  line-height: 19px;
}
@media (max-width:768px){
  .group-items-content ul li {
    display: block !important;
  }
  .group-items-content ul li h4{
    margin-bottom: 15px
  }
}
@media (max-width:600px){

.group-header .d-flex:first-child{
  display: block !important;
}
.group-header .group-controls-list .btn{
  margin-left: 0px;
  margin-right: 25px
}
.group-header .group-controls-list{
  margin-top: 25px
}
.group-items-header .btn{
    min-width:  150px !important
}
}
