.search-codes-modal .form-control {
    border: 2px solid rgba(18,28,77,0.5);
    box-shadow: none;
}
.code-search-header{
  position: relative;
  padding: 25px 35px 25px 25px
}
.code-search-header-select{
  flex-basis: 325px
}
.code-search-header-select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    line-height: initial !important;
    background-image: url(./../images/select-arrow.png);
    background-repeat: no-repeat;
    background-position: center right 12px;

}
.code-search-header .close {
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 0px;
    height: 30px;
    width: 30px;
    padding: 0px;
}
.code-search-header-text h5{
  font-size: 24px;
  line-height: 19px;
}
.code-search-header-text span{
  color: #121C4D;
  font-size: 14px;
  font-weight: bold;
}
.search-code-control{
  background-color: #DEE3EC;
  padding: 35px 25px
}
.search-code-table h4 {
    color: #121C4D;
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
    white-space: nowrap;
}
.search-code-table h4 small {
    margin-left: 9px;
}
.search-code-table tr td {
    color: #121C4D;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    padding-left: 0px;
    padding-right: 0px;
    border-top: 0px;
    border-bottom: 1px solid #dee2e6;
}
.table-controls-link{
  color: #6C97D9;
}
.table-controls-link span{
  margin-right: 15px
}
.light-text{
  opacity: .5
}
.search-input {
    position: relative;
    z-index: 1;
}
.search-input .search-code-input{
  display: none;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border: 0px;
  box-shadow: 0px 0px 0px 2px rgba(18,28,77,0.5) inset !important;
      padding-left: 21px !important
}
.search-code-input, .search-code-input:focus {
    background-image: url(./../images/box-search.png);
    background-position: right 13px center;
    background-repeat: no-repeat;
    background-size: 20px;
}

.search-code-control.show .search-input .search-code-input{
  display:block;

}
.table-controls-checkbox {
    display: flex;
    justify-content: flex-end;
}
.table-controls-checkbox label {
  margin-bottom: 0px
}
.table-controls-checkbox label input{
  display: none;
}
.table-controls-checkbox label input + span{
  background-image: url(./../images/checkbox-pluscircle.png);
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 45px;
  display: block;
  line-height: 30px
}
.table-controls-checkbox label input + span b {
    font-weight: bold;
}
.table-controls-checkbox label input:checked + span{
  background-image: url(./../images/checkbox-checkcircle.png);
}

.table-controls-checkbox label input:checked + span b.code-unselect{
  display: none;
}
.table-controls-checkbox label input+span b.code-selected{
  display: none;
  color: #6C97D9;
}
.table-controls-checkbox label input:checked + span b.code-selected{
  display: block;
}
.search-code-dropdown .search-code-table tr td {
    padding-top: 10.5px;
    padding-bottom: 9.5px;
    vertical-align: middle;
}
.search-code-dropdown .search-code-dropdown_body {
    padding: 15px;
    background-color: white;
    max-height: 292px;
    overflow: auto;
}
.search-code-dropdown .search-code-dropdown_footer {
    background-color: #DEE3EC;
    padding: 12px;
    border-radius: 0px 0px 10px 10px;
}
.search-input .search-code-dropdown {
    position: absolute;
    z-index: 1;
    left: 0px;
    right: 0px;
    margin-top: 0px;
    box-shadow: 0 50px 50px 0 rgba(0,0,0,0.5);
    border-radius: 0px 0px 10px 10px;
    display: none;
}
.search-code-control.show .search-input .search-code-dropdown {
  display: block;
}
.search-code-control.show .search-dropdown-overlay {
    content: "";
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    background-color: #121c4dd1;
}
.code-empty-text{
  color: #121C4D;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
}
.search-code-table {
    min-height: 265px;
}
.search-input .btn-primary span {
    opacity: 0.75;
    font-size: 12px;
    line-height: 14px;
    display: block;
    margin-bottom: 2px;
}
.search-input .btn-primary {
    padding-left: 25px;
    min-width: 212px;
    padding-top: 2px;
}
.search-input .btn-light, .search-input .btn-light:hover, .search-input .btn-light:active, .search-input .btn-light:focus {
    border: 2px solid rgb(59, 68, 110) !important;
    background-color: #3b446f !important;
    box-shadow: 0 5px 5px 0 rgba(18,28,77,0.1);
    color: #efefef !important;
    font-size: 14px;
    font-weight: bold;
    min-width: auto;
    white-space: nowrap;
}
.search-input .btn-group > span{
  border: 2px solid rgba(18,28,77,0.5);
  background-color: white;
  border-radius: 0px 10px 10px 0px
}
.search-code-control.show .search-input .btn-group > span{
  display: none;
}
.search-code-control.show .search-input .btn-light{

  display: none !important;

}

.search-code-control.show .search-input .btn-group > .btn{
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px
}
