body{
  font-family: 'Raleway', sans-serif;
  background-color: #F7F7F7;
}
html,body{
  height: 100%
}
.activity-text h4 {
    font-size: 16px;
    font-weight: bold;
    color: #121C4D;
    line-height: 19px;
    margin-bottom: 10px;
}
.activity-text span{
font-size: 16px;
font-weight: bold;
color: rgba(18,28,77,0.5);
}
.activity-icon{
  margin-right: 50px;
  position: relative;
}
.bg-light {
    background-color: #ffffff!important;
    box-shadow: 0px 0px 7px #ececec40;
    padding: 0px;
    border-top: 5px solid #121C4D
}
.nav-link {
    padding: 0px 16.3px !important;
    line-height: 65px;
    font-size: 14px;
    font-weight: bold;
    color: #121C4D !important;
}
.navbar-v2 .nav-link{
  font-size: 18px;
}
.navbar-v2 ul:not(.nav-bar-right) li.nav-item  .nav-link {
    padding: 0px 2.3px !important;
    min-width: 105px;
}
.navbar-v2 ul:not(.nav-bar-right) li.nav-item  .nav-link img{
  position: relative;
  top: -2px
}
.navbar-v2 ul:not(.nav-bar-right) li.nav-item{
  margin-right: 20px;
}
.navbar-v2 .navbar-brand {
    margin-right: 51px;
    margin-left: 25px;
}
.navbar-light .navbar-nav .nav-item {
  display: flex;
    align-items: center;
}
.navbar-light .navbar-nav .active{
  position: relative;
}
.navbar-light .navbar-nav .active::after{
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #121C4D;
  bottom: 0px;
  left: 0px
}
.navbar-brand{
  margin-right: 60px;
  margin-left: 28px
}
.nav-link-btn {
    background-color: #dee3ec;
    line-height: 49px;
    border-radius: 8px;
}
.nav-search {
    border-left: 1px solid #BCC1CF;
    height: 65px;
    margin-left: 0px;
    position: relative;
}
.nav-search .form-control {
    line-height: 65px;
    height: 100%;
    padding-left: 48px;
    outline: none;
    box-shadow: none
}
.nav-search .form-control:focus{
  box-shadow: none !important
}

.nav-search .search-icon {
    top: 0px;
    left: 15px;
    position: absolute;
    height: 100%;
    line-height: 65px;
}
.nav-search .search-icon img{

}
.nav-bar-right li{
  border-left: 1px solid #BCC1CF;
}
.text-blue{
  color: #121C4D
}
.bordered-control{
  border: 2px solid rgba(18,28,77,0.5) !important;
  box-shadow: none !important
}
.form-control.arrow-select{
  -webkit-appearance: none;
-moz-appearance: none;
appearance: none;
line-height: initial !important;
background-image: url(./../images/select-arrow.png);
background-repeat: no-repeat;
background-position: center right 12px;
}
.row.gutters-small{
  margin-right: -7.5px;
    margin-left: -7.5px;
}
.row.gutters-small > div{
  padding-right: 7.7px;
    padding-left: 7.5px;
}
.property-address-link{
  width: 212px;
  background-color: #121C4D;
  margin-left: 32px
}
.property-address-link .btn {
    color: white;
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    height: 100%;
    padding: 0px 25px;
}
.property-address-link .btn span {
    opacity: 0.75;
    font-size: 12px;
    line-height: 14px;
    display: block;
    margin-bottom: 2px
}
.property-address-link .dropdown-menu {
    border: 1px solid #FFFFFF;
    border-radius: 0 0 5px 5px;
    background-color: #121C4D;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);
    width: 100%;
    padding: 0px;
    margin-top: 0px;
}
.property-address-link .dropdown-menu .dropdown-item,
.property-address-link .dropdown-menu .dropdown-item:hover {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
    padding: 0px 0px;
    line-height: 48px;
    border-bottom: 1px solid white;
    background-color: #121C4D;
}

.property-address-link .dropdown-menu .dropdown-item:last-child{
  border-bottom: 0px
}
.user-link {
    min-width: 283px;
    background-image: url(./../images/arrow-icon.png);
    background-repeat: no-repeat;
    background-position: right 26px;
}
.user-link img {
    margin-right: 25px;
}
.container-fluid {
    padding-right: 32px;
    padding-left: 32px;
}

.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 56px;
    padding-bottom: 50px;
    margin-bottom: 8px;
}
.page-header h2 {
    font-size: 32px;
    font-weight: bold;
    color: #121C4D;
    line-height: 37px;
    margin-bottom: 0px;
}
.btn {
    font-size: 14px;
    font-weight: 600;
    height: 50px;
    padding: 0px 20px;
    border-radius: 10px;
    min-width: 200px;
}
.btn-primary {
    color: #fff;
    background-color: #121C4D;
    border-color:  #121C4D;
}
.box-view {
    border: 0px;
    height: 100%;
}
.box-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px
}
.box-header h4{
  font-size: 18px;
  color: #121C4D;
  line-height: 21px;
  margin-bottom: 0px;
  font-weight: bold;
}

.box-view  .card-body{
  display: flex;
  flex-direction: column;
}
.boxed-list-view{
  padding: 0px;
  list-style-type: none
}
.boxed-list-view li .list-item {
    flex: 1;
    display: flex;
    align-items: center;
}
.title{
  margin-bottom: 25px
}
.title h4{
  color: #121C4D;
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
}
.btn-light {
    color: #121C4D;
    font-size: 14px;
    font-weight: bold;
    background-color: #DEE3EC;
    border-color: #dde3ec;
}
.spacer{
  height: 50px
}
.form-control {
    border: none;
    box-shadow: 0 5px 5px 0 rgba(18,28,77,0.1);
    color: #121C4D;
    font-size: 14px;
    font-weight: bold;
    line-height: 50px;
    height: 50px;
    border-radius: 10px;
}
.form-control::placeholder{
  color: #121C4D;
  opacity: .5
}
.form-control:focus{
    box-shadow: 0 5px 5px 0 rgba(18,28,77,0.1) !important;
}
.btn-small{
  min-width: auto !important
}
.notification-dropdown {
    width: 400px;
    left: 50%;
    margin-left: -200px;
    padding: 0px;
    border: 1px solid #121c4c;
    border-radius: 6px;
    margin-top: 20px;
}
.notification-dropdown::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 15px;
    background-image: url(./../images/dropdown-triangle.png);
    background-repeat: no-repeat;
    left: 50%;
    margin-left: -10px;
    top: -15px;
}
ul.notification-list{
  padding: 0px;
  list-style-type: none;
}
ul.notification-list li{
  border-bottom: 2px solid #121c4c;
}
ul.notification-list li:last-child{
  border-bottom: 0px
}
ul.notification-list li a{
  text-decoration: none;
}
ul.notification-list li .list-item {
    display: flex;
    align-items: center;
    padding: 1.25rem;
}
.nav-item.user-dropdown .dropdown-menu {
    min-width: 100%;
    padding: 0px;
}
.nav-item.user-dropdown .dropdown-menu a.dropdown-item {
    color: #121C4D;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    padding: 0px 0px;
    border-bottom: 1px solid #BCC1CF;
}
.nav-item.user-dropdown .dropdown-menu a.dropdown-item:last-child{
  margin-bottom: 0px
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff !important;
    text-decoration: none;
    background-color: #111c4d;
}
.nav-bar-right .nav-link{
  padding: 0px 20px !important;
}
.btn-primary.disabled{
  color: #fff;
    background-color: #111c4d;
    border-color: #111c4d;
    opacity: .5;
}
textarea.form-control {
    line-height: 26px;
}
.feedback-form .sm{
  width: 325px
}
.btn.btn-large{
  min-width: 325px
}
.text-dim{
  opacity: .5
}
.badge-primary {
    color: #fff;
    background-color: #111c4d;
    padding: 0px;
    vertical-align: text-top;
    height: 15px;
    width: 15px;
    line-height: normal;
    font-size: 12px;
    text-align: center;
}
.table-light-header{
  border-bottom: 2px solid #DEE3EC;
}
.table-light-header.table thead th {
    border: 0px;
    background-color: #DEE3EC;
    padding: 25px 20px;
    font-size: 14px;
    color: #121C4D;
}
.table-light-header.table.table-table-condensed thead th{
  padding: 15px 20px;
}
.table-light-header.table thead th:first-child {
    border-radius: 10px 0px 0px 0px;
}
.table-light-header.table thead th:last-child {
    border-radius: 0px 10px 0px 0px;
}

.table-light-header.table tr td{
  color: #121C4D;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-top: 2px solid #DEE3EC;
    vertical-align: middle;
}
.table-light-header.table.table-table-condensed  tr td{
    padding: 15px 20px !important;
    font-size: 14px;
}
.table-light-header.table tbody td:last-child {
    padding-right: 0px;
    border-right: 0px;
}
.table-light-header.table-table-condensed.table tr td{
  border-top: 1px solid #DEE3EC;
}
.dropdown-box {
    border: 1px solid #121c4d;
    border-radius: 0px 0px 6px 6px;
    margin-top: -5px;
    overflow: hidden;
}
.dropdown-box .dropdown-item {
    font-weight: 700;
    font-size: 14px;
    border-bottom: 1px solid #121c4d;
    color: #121c4d;
    padding: 15px 0px;
    line-height: 16px;
}
.dropdown-box .dropdown-item:last-child{
  border-bottom: 0px
}
.search-input .form-control{
  background-image: url(./../images/box-search.png);
    background-repeat: no-repeat;
    background-position: center right 25px;
    padding-right: 55px;
}
.search-input .form-control.icon-left{
  background-position: center left 25px;
  padding-left: 55px;
  padding-right: .75rem
}
.text-muted {
    color: rgba(18, 28, 77, 0.5)!important;
}
.opac-half{
  opacity: .5
}
.custom-radio label {
  position: relative;
  cursor: pointer;
}
.custom-radio label input[type="radio"] + span{
  color: #121C4D;
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
}
.custom-radio label input[type="radio"] + span::before{
  content: "";
  position: absolute;
  height: 21px;
  width: 21px;
  box-shadow: 0px 0px 0px 2px #121C4D inset;
  border-radius: 50%;
  left: 0px;
  top: 0px
}
.custom-radio label input[type="radio"]:checked + span::after {
    content: "";
    position: absolute;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background: #121C4D;
    left: 4px;
    top: 4px;
}
.separator{
  height: 5px;
border-radius: 67px;
background-color: #FFFFFF;
margin-top: 25px;
margin-bottom: 25px;
width: 100%;
}
.lg-spacer{
  margin-top: 50px !important;
  margin-bottom: 50px !important
}
.bg-dark{
  background-color: #121C4D !important
}
.btn-block{
  min-width: 100%
}
@media (min-width:992px){

}
@media (max-width:992px){
  .navbar-nav {
    display: block;
}
  .navbar-nav .nav-item{

  }
  .nav-link {
    line-height: 40px;
    margin-bottom: 9px;
}
.nav-search {
    margin-left: 0px;
    border: 1px solid #dde3ec;
    margin-bottom: 10px;
}
.navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid {
    padding-right: 32px;
    padding-left: 33px;
}
.notification-dropdown {
    margin-left: 0px;
    width: 100%;
    border: 0px;
}
.notification-dropdown::before {
    display: none;
}
.navbar-light .navbar-nav .nav-item{
  display: block;
}
}
